<settings>
    <setting propertyKey="@Properties.deviceName" title="@Strings.SettingDeviceName">
        <settingConfig type="alphaNumeric" maxLength="24" />
    </setting>
    <setting propertyKey="@Properties.recordMode" title="@Strings.SettingRecordMode">
        <settingConfig type="list">
            <listEntry value="0">@Strings.RecordModeCloud</listEntry>
            <listEntry value="1">@Strings.RecordModeLegacy</listEntry>
        </settingConfig>
    </setting>
</settings>
